# ignore Jupyter-notebooks
jupyter-notebooks/chern_insulator/main.ipynb linguist-generated=true
jupyter-notebooks/honeycomb_lattice/main.ipynb linguist-generated=true
jupyter-notebooks/hubbard_model_zigzag_ribbon/main.ipynb linguist-generated=true
jupyter-notebooks/jackiw_rebbi_model/main.ipynb linguist-generated=true
jupyter-notebooks/quantum_dot_modes/main.ipynb linguist-generated=true
jupyter-notebooks/buckled_antiferomagnetic_honeycomb_lattice/main.ipynb linguist-generated=true
